"id","type","WorkerId","hid","AssignmentId","exit","bonus","Approve","Reject"
MWKtnY2b,player,W1,XX1,A1,0cxlJc,2.38,"x",
sLefQetr,player,W2,XX1,A2,Xn5r7y,2,"x",
DdlLZzrc,player,W3,XX1,A3,BkeaEA,2.5,"x",
G3V2JGLB,player,W4,XX1,A4,TdqZzW,1.63,"x",
QbMEui9n,player,W5,XX1,A5,UYUYPE,0.75,"x",
s7rO8BaN,player,W6,XX1,A6,e7Qs5O,2.5,"x",
8DNhFUje,player,W7,XX1,A7,JNLBoH,1.63,"x",
drvlJDYx,player,W8,XX1,A8,nRoElW,0.38,"x",
QSuHX7mw,player,W9,XX1,A9,hLir7u,1.63,"x",
611420569234183,bot,NA,NA,NA,NA,0.38,,
